<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>DigiPřítel</title>
</head>
<body>
    <main>
        <p style="color: white;" id="state">{{ state }}</p>
        <!-- <p style="color: white;" id="sliderValue">50</p> -->
        <Menu id="menu" style="display: none;">
            <h1 style="margin-bottom: 25px;">Hlasitost</h1>
            <input type="range" min="0" max="100" value="50" class="slider" id="volume">
            <div style="height: 10px; -webkit-user-drag: none; user-select: none;"></div>
            <h1 style="margin-bottom: 25px;">Barva</h1>
            <div class="colors">
                <div onclick="changeColor(event)" class="color" style="background-color: #1DA2F0;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #FD892C;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #00EB57;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #FF53DD;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #F5DFAA;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #F10;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #236AF3;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #13EDA5;"></div>
                <div onclick="changeColor(event)" class="color" style="background-color: #FDCF4A;"></div>
            </div>
            <img src="static/x.svg" alt="Zavřít" id="close">
            <img onclick="toggleMenu()" src="static/x.svg" class="close2">
        </Menu>
        <div onclick="toggleMenu()" id="toggle"></div>
        <DigiPritel>
            <eyes>
                <div id="color" class="eye" style="margin-right: 250px;">
                    <div class="pupil" style="margin-right: -25px; margin-top: 25px;"></div>
                </div>
                <div id="color" class="eye">
                    <div class="pupil" style="margin-right: 25px; margin-top: 25px;"></div>
                </div>
            </eyes>
            <mouth>
                <div class="mouthCover"></div>
                <div id="color" class="mouth"></div>
            </mouth>
        </DigiPritel>
    </main>
    <script src="static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var socket = io.connect("http://" + document.domain + ":" + location.port);
        socket.on('update_state', function(data) {
            document.getElementById('state').textContent = data.new_state;
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Detect when the slider value changes
            $('#volume').on('input', function() {
                let sliderValue = $(this).val();
                // $('#sliderValue').text(sliderValue);  // Display the value
                
                // Send the slider value to the server via AJAX
                $.ajax({
                    url: '/update-slider',
                    type: 'POST',
                    data: JSON.stringify({slider_value: sliderValue}),
                    contentType: 'application/json',
                });
            });
        });
    </script>
</body>
</html>
